services:
  backend:
    build:
      context: .
      target: backend
    container_name: adminvault-backend
    ports:
      - "3001:3001"
    restart: always

  frontend:
    build:
      context: .
      target: frontend
    container_name: adminvault-frontend
    ports:
      - "3000:3000"
    restart: always
    depends_on:
      - backend
