version: '3.8'

services:
  backend:
    build:
      context: ../../
      dockerfile: documents/deployment/dockerfile.backend
    ports:
      - "3333:3333"
    environment:
      - NODE_ENV=production
    depends_on:
      - db

  frontend:
    build:
      context: ../../
      dockerfile: documents/deployment/dockerfile.frontend
    ports:
      - "4200:4200"

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: adminvault
    ports:
      - "3306:3306"
