# Database Configuration - PostgreSQL
DB_HOST=pg-d318783-ummidisettisai01-ebc2.k.aivencloud.com
DB_PORT=21240
DB_USERNAME=avnadmin
DB_PASSWORD=your_db_password_here
DB_DATABASE=adminvault

# Google OAuth Configuration
GOOGLE_CLIENT_ID=169033246892-fml7msmg7h6kp6jaa8sq3n4valel6huh.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_CALLBACK_URL=https://adminvault.inolyse.live/auth-users/google/callback

# Application Configuration
NODE_ENV=production
PORT=3001
FRONTEND_URL=https://adminvault.inolyse.live
NEXT_PUBLIC_APP_AVS_SERVICE_URL=https://adminvault.inolyse.live/api
APP_AVS_SERVICE_URL=https://adminvault.inolyse.live/api

# Security Configuration
RATE_LIMIT_TTL=60
RATE_LIMIT_MAX=100
SESSION_SECRET=perfect_key
JWT_SECRET=fbf085c7fe744b7d3c034bbe951114af75fd5db723badb2b3d9ede5da28c5923d54d0ca2abf16ec85ab05c55a6d82344383b8080036bc14edbf936e20eae0151
JWT_REFRESH_SECRET_KEY=83fc3316ebbc01372070ec8f0efb9bbc7745ef1c5a056a3be841e0e63cb94daac93834cd1e860fc17cf83180e2f01a5da29f1c45929a3b3cd81e675a3ce0b4e5


# File Upload Configuration
MAX_FILE_SIZE=10485760
UPLOAD_DIR=./uploads

# Mail Configuration
EMAIL_USER=ummidisettisai01@gmail.com
EMAIL_PASS=your_email_pass_here

# Slack Integration
SLACK_BOT_TOKEN=your_slack_bot_token_here


